@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700|Roboto:300,400,500,700");
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
body.loaded {
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
}
.overlay .overlayDoor:before, .overlay .overlayDoor:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #111;
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  transition-delay: 0.5s;
}
.overlay .overlayDoor:before {
  left: 0;
}
.overlay .overlayDoor:after {
  right: 0;
}
.overlay.loaded .overlayDoor:before {
  left: -50%;
}
.overlay.loaded .overlayDoor:after {
  right: -50%;
}
.overlay.loaded .overlayContent {
  opacity: 0;
  margin-top: -15px;
}
.overlay .overlayContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 3s cubic-bezier(0.77, 0, 0.18, 1);
}
.overlay .overlayContent .skip {
  display: block;
  width: 130px;
  text-align: center;
  margin: 50px auto 0;
  cursor: pointer;
  color: #fff;
  font-family: "Nunito";
  font-weight: 700;
  padding: 12px 0;
  border: 2px solid #fff;
  border-radius: 3px;
  transition: 0.2s ease;
}
.overlay .overlayContent .skip:hover {
  background: #ddd;
  color: #444;
  border-color: #ddd;
}

.loader {
  width: 128px;
  height: 128px;
  border: 3px solid #fff;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  position: relative;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .inner {
  width: 64px;
  height: 64px;
  border: 3px solid transparent;
  border-top: 3px solid #fff;
  border-radius: 50%;
  -webkit-animation: spinInner 4s linear infinite;
          animation: spinInner 4s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinInner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
@keyframes spinInner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
body {
  background: #eee;
}

.header {
  background: url("/image/01.jpg") ;
  background-size: cover;
  position: fixed;
  top: 0;
  display: flex;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* This puts the header behind other content */

}
.header .darken {
  background: rgba(81, 80, 80, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .darken h1 {
  font-family: "Nunito";
  font-weight: 700;
  color: #fff;
  margin: 0 0 20px 0;
  text-align: center;
}
.header .darken h1 span {
  font-size: 12px;
  top: -10px;
  position: relative;
}
.header .darken p {
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  line-height: 25px;
}

.contentOther {
  background: #fff;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.contentOther .video {
  height: 484px;
  width: 100%;
  border-radius: 5px;
}
.contentOther h1 {
  font-family: "Roboto";
  margin: 0 0 10px 0;
  font-weight: 400;
}




.image-container {
  width: 35%; /* Adjust this value to change the width of the image container */
  height: 80vh;
  float: left;
  overflow: hidden;
  position: relative;
  margin: 55px 40px 20px 30px; /* Top, right, bottom, left */
  border-radius: 10px; /* Optional: rounded corners */

}

.image-container img {
  width: 100%;
  height: 100%;
  background-size:cover;
  position: absolute;
  top: 0;
  left: 0;
 
}



.info-container {
 /* margin-left: 100px;  */
  /* padding: 0 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1; /* This ensures the main content is above the header */
align-items: center;
margin-top: 40px;

}

.name {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.details {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.details li {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

  margin-bottom: 10px;
  font-size: 27px;
  color: #ffffff;
}
strong{
  color:rgb(0, 0, 0);
  font-size: 31px;
  text-shadow: 2px 1px #cc681b;
}

h4.deepshadow {
  color: #ffffff;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #36ef52, 0 1px 0 #29e953, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
h4 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 59px;
  /* padding: 80px 50px; */
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.blinking-image {
  animation: blink 2s infinite;
}