<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Fully working Loading Page</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/css/style_2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- JQUERY and Normalize.css INSTALLED -->

<div class="overlay">
	<div class="overlayDoor"></div>
	<div class="overlayContent">
		<div class="loader">
			<div class="inner"></div>
		</div>
		<div class="skip">SKIP</div>
	</div>
</div>






<!-- DON'T NEED THIS PART -->
<div class="header">
	<div class="darken">   </div>
</div>

<!-- <img src="/image/check.png" class="blinking-image" alt="Desktop PC Hacker Security" style="width: 75px; float:left;margin-left:7px;margin-right:0px"> -->
<img src="/image/x-button.png" class="blinking-image" alt="Desktop PC Hacker Security" style="width: 75px; float:left;margin-left:7px;margin-right:0px">


<!-- <div class="image-container" style="  box-shadow: 1px 4px 4px rgb(47, 229, 101);"> -->
<div class="image-container" style="  box-shadow: 1px 8px 8px rgb(255, 0, 0);">


	<img src="/image/desktop-pc-hacker.jpg" alt="Desktop PC Hacker Security">
  </div>
   <div class="info-container"> 
	<!-- <h4 class='deepshadow'>MAROUAN</h4>
	<ul class="details">
      <li><strong> Gender : </strong> Male</li>
	  <li><strong>Profession : </strong> Software Engineer</li>
	  <li><strong>Age : </strong> 21</li> -->

    <!-- </ul> -->
	<h4 class='deepshadow' style="color: red;"> Personne <br>NON  VERIFIée</h4>

  </div>


<!-- partial -->
  <script  src="/js/script_2.js"></script>

</body>
</html>
